<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<!-- html -->
<html>
<!-- head -->

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>Online Recharge a Corporate Category Bootstrap Responsive Web Template | Support :: w3layouts</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <!--//theme-style-->
    <!-- metatags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Recharge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- /metatags -->
    <!-- online fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <!-- /online fonts -->

</head>
<!-- /head -->
<!-- body -->

<body>
    <!--header-->
    <header>
        <div class="header">
            <div class="logo">
                <h1><a href="index.html"><i><img src="/assets/images/cell.png" alt=" " /></i>Easy Recharge</a></h1>
            </div>
            <div class="top-nav">
                <span class="menu"><img src="/assets/images/menu.png" alt=" " /></span>
                <ul class="nav1">
                    <li><a routerLink="/list">Mobile</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal1">Service</a></li>
                    <li><a routerLink="/feedback" data-toggle="modal" data-target="#myModal1">FeedBack</a></li>
                    <li><a routerLink="/support" data-toggle="modal" data-target="#myModal1" class="active">Support</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal3">Site Map</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal4">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal5">Signup</a></li>
                </ul>

                <!-- //search-scripts -->


                <div class="clearfix"> </div>
            </div>

        </div>
    </header>
    <!-- //header -->

    <!-- innerbanner -->
    <div class="agileits-inner-banner">

    </div>
    <!-- //innerbanner -->

    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
                <span>Support</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->

    <!-- Support-page -->
    <div class="support w3layouts-content">
        <div class="container">
            <h3 class="w3-head">Support Page</h3>
            <div class="col-md-8 w3ls-supportform">
                <form action="#" method="get" name="sentMessage" id="contactForm" novalidate>
                    <select required>

                        <option value="Recharge">Recharge</option>

                        <option value="Account">Account</option>
                        <option value="Others">Others</option>
                    </select>
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="Enter your Name" id="name" required
                                data-validation-required-message="Please enter your name.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="email" class="form-control" placeholder="Enter your Email ID" id="email"
                                required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <input type="tel" class="form-control" name="phone" placeholder="Enter mobile Number"
                                id="phone" required=""
                                data-validation-required-message="Please enter your phone number." aria-invalid="false">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <textarea rows="10" cols="100" class="form-control" placeholder="Please write here"
                                id="message" required data-validation-required-message="Please enter your message"
                                maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="submit btn btn-primary">Create Ticket</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-4 agileits-support">
                <ul>
                    <li><strong>Call to:</strong> +040 55 468, +005 256 54 </li>
                    <li><strong>Mail to:</strong> <a href="mailto:icsathlone@gmail.com">onlinerechargeexample.com</a>
                    </li>
                    <li><a class="w3-faq" href="faq.html">Faq</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <!-- js files for contact from validation -->
            <script src="js/jqBootstrapValidation.js"></script>
            <script src="js/contact_me.js"></script>
            <!-- //js files for contact from validation -->

        </div>
    </div>
    <!--//Support-page-->


    <!-- subscribe -->
    <div class="w3-subscribe agileits-w3layouts">
        <div class="container">
            <div class="col-md-6 social-icons w3-agile-icons">
                <h4>Join Us</h4>
                <ul>
                    <li><a href="#" class="fa fa-facebook sicon facebook"> </a></li>
                    <li><a href="#" class="fa fa-twitter sicon twitter"> </a></li>
                    <li><a href="#" class="fa fa-google-plus sicon googleplus"> </a></li>
                    <li><a href="#" class="fa fa-dribbble sicon dribbble"> </a></li>
                    <li><a href="#" class="fa fa-rss sicon rss"> </a></li>
                </ul>
            </div>
            <div class="col-md-6 w3-agile-subscribe-right">
                <h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Enter your Email..." required="">
                    <input type="submit" value="Subscribe">
                    <div class="clearfix"> </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //subscribe -->

    <!--footer-->
    <!--footer-->
    <div class="footer-top">
        <div class="container">
            <div class="foo-grids">
                <div class="col-md-3 foo-grid">
                    <h3>MOBILE RECHARGES</h3>
                    <ul>
                        <li><a href="#">Airtel</a></li>
                        <li><a href="#">Aircel</a></li>
                        <li><a href="#">BSNL</a></li>
                        <li><a href="#">Idea</a></li>
                        <li><a href="#">MTNL</a></li>
                        <li><a href="#">MTS</a></li>
                    </ul>
                </div>
                <div class="col-md-3 foo-grid">
                    <h3>DTH RECHARGES</h3>
                    <ul>
                        <li><a href="#">Airtel Digital TV Recharges</a></li>
                        <li><a href="#">Dish TV Recharges</a></li>
                        <li><a href="#">Tata Sky Recharges</a></li>
                        <li><a href="#">Reliance Digital TV Recharges</a></li>
                        <li><a href="#">Sun Direct Recharges</a></li>
                        <li><a href="#">Videocon D2H Recharges</a></li>
                    </ul>
                </div>
                <div class="col-md-3 foo-grid">
                    <h3>DATACARD RECHARGES</h3>
                    <ul>
                        <li><a href="#">Airtel 2G Service</a></li>
                        <li><a href="#">Aircel 2G Service</a></li>
                        <li><a href="#">BSNL 2G Service</a></li>
                        <li><a href="#">MTS MBlaze Recharges</a></li>
                        <li><a href="#">Tata Photon Plus Recharges</a></li>
                        <li><a href="#">Reliance NetConnect Recharges</a></li>
                    </ul>
                </div>
                <div class="col-md-3 foo-grid">
                    <h3>PAYMENT OPTIONS</h3>
                    <ul>
                        <li>Credit Cards</li>
                        <li>Debit Cards</li>
                        <li>Any Visa Debit Card (VBV)</li>
                        <li>Direct Bank Debits</li>
                        <li>Cash Cards</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <h2><a href="index.html">Easy Recharge</a></h2>
            <p>© 2016 Easy Recharge. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                    target="_blank">w3layouts</a></p>
            <ul>
                <li><a class="face1" href="#"></a></li>
                <li><a class="face2" href="#"></a></li>
                <li><a class="face3" href="#"></a></li>
                <li><a class="face4" href="#"></a></li>
            </ul>
        </div>
    </div>
</body>
<!-- /body -->

</html>
<!-- /html -->