<!DOCTYPE html>
<!-- html -->
<html>
<!-- head -->

<head>
    <title>Easy Recharge a Corporate Category Bootstrap Responsive Web Template | Feedback :: w3layouts</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Recharge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- /metatags -->
    <!-- online fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
</head>

<body>
    <!-- innerbanner -->
    <div class="agileits-inner-banner">
    </div>
    <!-- //innerbanner -->

    <!-- breadcrumbs -->
    <div class="w3layouts-breadcrumbs text-center">
        <div class="container">
            <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
                <span>Feedback</span></span>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!-- Feedback -->
    <div class="w3ls-feedback w3layouts-content">
        <div class="container">
            <h3 class="w3-head">Feedback</h3>
            <div class="feed-back">
                <h3>Tell us what you think of us</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s</p>

                <br>
                <br>
                <div class="feed-back-form">
                    <form action="#" method="get" id="contactForm">
                        <span>Your Info:</span>
                        <input type="tel" placeholder="Phone No" name="phoneno" required="required" [(ngModel)]="Phone"
                            [ngModelOptions]="{standalone: true}">
                        <span>Select Service:</span>
                        <div>
                            <select required style="width: 50%;border-color: black;" id="ServiceMethod"
                                name="ServiceMethod" [(ngModel)]="ServiceId">
                                <option value="Select-Service" selected>Select-Service</option>
                                <ng-container *ngFor="let service of service">
                                    <option [value]="service.id">{{ service.name }}</option>
                                </ng-container>
                            </select>
                        </div>
                        <br>
                        <div>
                            <span>Is there anything you would like to tell us?</span>
                            <textarea [(ngModel)]="Content" [ngModelOptions]="{standalone: true}">>Message...</textarea>
                            <input type="submit" value="Send Feedback" (click)="add()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // Feedback -->

    <!-- subscribe -->
    <div class="w3-subscribe agileits-w3layouts">
        <div class="container">
            <div class="col-md-6 social-icons w3-agile-icons">
                <h4>Join Us</h4>
                <ul>
                    <li><a href="#" class="fa fa-facebook sicon facebook"> </a></li>
                    <li><a href="#" class="fa fa-twitter sicon twitter"> </a></li>
                    <li><a href="#" class="fa fa-google-plus sicon googleplus"> </a></li>
                    <li><a href="#" class="fa fa-dribbble sicon dribbble"> </a></li>
                    <li><a href="#" class="fa fa-rss sicon rss"> </a></li>
                </ul>
            </div>
            <div class="col-md-6 w3-agile-subscribe-right">
                <h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Enter your Email..." required="">
                    <input type="submit" value="Subscribe">
                    <div class="clearfix"> </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //subscribe -->

    <!--footer-->
    <div class="footer-top">
        <div class="container">
            <div class="foo-grids">
                <div class="col-md-3 foo-grid">
                    <h3>MOBILE RECHARGES</h3>
                    <ul>
                        <li><a href="#">Airtel</a></li>
                        <li><a href="#">Aircel</a></li>
                        <li><a href="#">BSNL</a></li>
                        <li><a href="#">Idea</a></li>
                        <li><a href="#">MTNL</a></li>
                        <li><a href="#">MTS</a></li>
                    </ul>
                </div>
                <div class="col-md-3 foo-grid">
                    <h3>DTH RECHARGES</h3>
                    <ul>
                        <li><a href="#">Airtel Digital TV Recharges</a></li>
                        <li><a href="#">Dish TV Recharges</a></li>
                        <li><a href="#">Tata Sky Recharges</a></li>
                        <li><a href="#">Reliance Digital TV Recharges</a></li>
                        <li><a href="#">Sun Direct Recharges</a></li>
                        <li><a href="#">Videocon D2H Recharges</a></li>
                    </ul>
                </div>
                <div class="col-md-3 foo-grid">
                    <h3>DATACARD RECHARGES</h3>
                    <ul>
                        <li><a href="#">Airtel 2G Service</a></li>
                        <li><a href="#">Aircel 2G Service</a></li>
                        <li><a href="#">BSNL 2G Service</a></li>
                        <li><a href="#">MTS MBlaze Recharges</a></li>
                        <li><a href="#">Tata Photon Plus Recharges</a></li>
                        <li><a href="#">Reliance NetConnect Recharges</a></li>
                    </ul>
                </div>
                <div class="col-md-3 foo-grid">
                    <h3>PAYMENT OPTIONS</h3>
                    <ul>
                        <li>Credit Cards</li>
                        <li>Debit Cards</li>
                        <li>Any Visa Debit Card (VBV)</li>
                        <li>Direct Bank Debits</li>
                        <li>Cash Cards</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <h2><a href="index.html">Easy Recharge</a></h2>
            <p>© 2024 Easy Recharge. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                    target="_blank">3CE</a></p>
            <ul>
                <li><a class="face1" href="#"></a></li>
                <li><a class="face2" href="#"></a></li>
                <li><a class="face3" href="#"></a></li>
                <li><a class="face4" href="#"></a></li>
            </ul>
        </div>
    </div>
</body>
<!-- /body -->

</html>
<!-- /html -->