<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<title>Easy Recharge a Business Corporate Category Flat Bootstrap Responsive Website Template | Single 
	</title>

	<!-- <link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Easy Recharge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	

	<!--fonts-->
	<link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<!-- js -->

	<!-- js -->
	<!--animate-->
	<!-- <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"> -->
</head>

<body>

	<div class="bannerr">
		<div class="header">
			<div class="logo">
				<h1><a href="index.html"><i><img src="/assets/images/cell.png" alt=" " /></i>Easy Recharge</a></h1>
			</div>
			<div class="top-nav">
				<span class="menu"><img src="/assets/images/menu.png" alt=" " /></span>
				<ul class="nav1">
					<li><a [class.active]="activeNavItem === 'Mobile'" (click)="setActiveNavItem('Mobile')">Mobile</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal1">Service</a></li>
					<li><a routerLink="/feedback">FeedBack</a></li>
					<li><a routerLink="/support">Support</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal3">Site Map</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal4">Login</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal5">Signup</a></li>
				</ul>



			</div>
		</div>

		<!-- <div class="container"> -->
		<!-- dropdown -->
		<!-- <div class="profile_details">
				<ul>
					<li class="dropdown profile_details_drop">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<div class="profile_img">
								<span style="background:url(/assets/images/1.png) no-repeat center"> </span>
								<div class="user-name">
									<p>Your Profile</p>
								</div>
								<i class="lnr lnr-chevron-down"></i>
								<i class="lnr lnr-chevron-up"></i>
								<div class="clearfix"></div>
							</div>
						</a>
						<ul class="dropdown-menu drp-mnu">
							<li> <a href="#" data-toggle="modal" data-target="#myModal6"> Edit</a> </li>
							<li> <a href="settings.html"> View Profile</a> </li>
							<li> <a href="orders.html">Your orders</a> </li>

							<li> <a href="#" data-toggle="modal" data-target="#myModal4"> Logout</a> </li>
						</ul>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</div> -->
		<!-- //dropdown -->
		<!-- <div class="clearfix"> </div> -->
		<!-- </div> -->
		<!-- edit -->
		<!-- <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="edit-pro">
							<form>
								<div class="edit-for-sett">
									<h5>name</h5>
									<input type="text" value="" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = '';}" required="">
									<h5>Email address</h5>
									<input type="text" value="" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = '';}" required="">
									<h5>mobile no.</h5>
									<input type="text" value="" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = '';}" required="">
									<h5>date of birth</h5>
									<input type="date" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Select date';}">
									<h5>Gender</h5>
									<div class="swit-radio-thre">
										<div class="check_box_thre">
											<div class="radio_thre"> <label><input type="radio" name="radio"
														checked=""><i></i>MALE</label> </div>
										</div>
										<div class="check_box_thre">
											<div class="radio_thre"> <label><input type="radio"
														name="radio"><i></i>FEMALE</label> </div>
										</div>
										<div class="clearfix"></div>
									</div>
									<input type="submit" value="UPDATE">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- edit -->
		<!-- </div> -->
	
	</div>
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
				<span>Recharge Plans</span></span>
		</div>
	</div>
	<div class="banner-bottom">
		<div class="container">
			<div class="view_plans">
				<h4 class="view_title">Our Latest Recharge Plans</h4>


				<div class="sap_tabs">
					<mat-tab-group [selectedIndex]="hideTab ? -1 : selectedTabIndex">
						<mat-tab label="Special Recharge">


							<div class="recharge_plans">
								<div class="validity" *ngFor="let plan of getPlansByType('SpecialRecharge')"
									(click)="selectPlan(plan)">
									<div class="rchge-one">
										<h3>Price</h3>
										<p>{{plan.price}}</p>
									</div>
									<div class="rchge-two">
										<h3>Talktime</h3>
										<p>{{plan.talkTime}}</p>
									</div>
									<div class="rchge-three">
										<h3>Description</h3>
										<p>{{plan.description}}</p>
									</div>
									<div class="rchge-four">
										<h3>Validity</h3>
										<p>{{plan.validity}}</p>
									</div>
									<div class="rchge-five">
										<h3>Action</h3>
										<button type="submit" class="btn btn-primary" (click)="navigateToDetailPage(plan.id)">Order Now</button>

									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</mat-tab>
						<mat-tab label="Top-UP">

							<div class="recharge_plans">
								<div class="validity" *ngFor="let plan of getPlansByType('TopUp'),let i = index ">
									<div class="rchge-one">
										<h3>Price</h3>
										<p>{{plan.price}}</p>
									</div>
									<div class="rchge-two">
										<h3>Talktime</h3>
										<p>{{plan.talkTime}}</p>
									</div>
									<div class="rchge-three">
										<h3>Description</h3>
										<p>{{plan.description}}</p>
									</div>
									<div class="rchge-four">
										<h3>Validity</h3>
										<p>{{plan.validity}}</p>
									</div>
									<div class="rchge-five">
										<h3>Action</h3>
										<button type="submit" class="btn btn-primary" (click)="navigateToDetailPage(plan.id)">Order Now</button>

									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</mat-tab>

					</mat-tab-group>
<!-- <app-detail-page
[viewMode]="true"
[currentRecharge="currentRecharge">

</app-detail-page> -->
				</div>
			</div>
		</div>
	</div>






	<div class="footer">
		<div class="container">
			<h2><a href="index.html">Easy Recharge</a></h2>
			<p>© 2016 Easy Recharge. All Rights Reserved | Design by <a href="https://w3layouts.com/"
					target="_blank">w3layouts</a></p>
			<ul>
				<li><a class="face1" href="#"></a></li>
				<li><a class="face2" href="#"></a></li>
				<li><a class="face3" href="#"></a></li>
				<li><a class="face4" href="#"></a></li>
			</ul>
		</div>
	</div>
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
</body>

</html>