<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Easy Recharge a Business Corporate Category Flat Bootstrap Responsive Website Template | Home
	</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Easy Recharge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!--fonts-->
	<link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>
	<!--//fonts-->
	<!-- js -->

	<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
	<!-- js -->

</head>

<body>
	<div class="header">
		<div class="logo">
			<h1><a href="index.html"><i><img src="/assets/images/cell.png" alt=" " /></i>Easy Recharge</a></h1>
		</div>
		<div class="top-nav">
			<span class="menu"><img src="/assets/images/menu.png" alt=" " /></span>
			<ul class="nav1">
				<li><a routerLink="list">Mobile</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal1">Service</a></li>
				<li><a routerLink="feedback" >FeedBack</a></li>
				<li><a routerLink="support" >Support</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal3">Site Map</a></li>
				<li><a routerLink="login">Login</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal5">Signup</a></li>
			</ul>
			<!-- script-for-menu -->
		
			<!-- /script-for-menu -->
		</div>
		<!-- start search-->
		<div class="search-box">
			<div id="sb-search" class="sb-search">
				<form>
					<input class="sb-search-input" placeholder="Enter your search item..." type="search" name="search"
						id="search">
					<input class="sb-search-submit" type="submit" value="">
					<span class="sb-icon-search"> </span>
				</form>
			</div>
		</div>

	</div>

	<div class=" header-right">
		<div class="banner">
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider">
						<li>
							<div class="banner1">
								<div class="caption">
									<h3><span>Get a</span> coupon voucher on Mobile Recharge</h3>
									<p><a href="#mobilew3layouts" class="scroll">Recharge now</a></p>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- script -->
	<script src="../assets/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				speed: 500,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Banner-slider -->
	<!-- //Responsive-slider -->
	<!-- Bootstrap select option script -->
	<!-- <script src="js/bootstrap-select.js"></script>
	<script>
		$(document).ready(function () {
			var mySelect = $('#first-disabled2');

			$('#special').on('click', function () {
				mySelect.find('option:selected').prop('disabled', true);
				mySelect.selectpicker('refresh');
			});

			$('#special2').on('click', function () {
				mySelect.find('option:disabled').prop('disabled', false);
				mySelect.selectpicker('refresh');
			});

			$('#basic2').selectpicker({
				liveSearch: true,
				maxOptions: 1
			});
		});
	</script> -->

	<div class="clearfix"></div>
	<div class="content-bottom">
		<div class="btm-grids">
			<div class="col-md-4 btm-grid back-col1 text-center">
				<img src="/assets/images/bbbb.png" class="imgg" alt="" />
			</div>
			<div class="col-md-4 btm-grid btm-wid">
				<h3>SPECIAL RECHARGE OFFERS</h3>
				<p>Nemo enim ipsam voluptatem
					quia voluptas sit aspernatur
					aut odit aut fugit, sed quia conse
					magni dolores eos qui ratione. Nemo enim ipsam voluptatem
					quia voluptas sit aspernatur
					aut odit aut fugit, sed quia conse
					magni dolores eos qui ratione.</p>
			</div>
			<div class="col-md-4 btm-grid back-col2 text-center">
				<img src="/assets/images/bbb1.png" class="imgg" alt="" />
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<div class="coupons">
		<div class="container">
			<div class="coupons-grids text-center">
				<div class="col-md-3 coupons-gd">
					<h3>RECHARGE IN <span>3 SIMPLE STEPS</span></h3>
				</div>
				<div class="col-md-3 coupons-gd">
					<h4><span><img src="/assets/images/web.png" alt=" " /></span></h4>
					<p>LOGIN TO YOUR ACCOUNT</p>
				</div>
				<div class="col-md-3 coupons-gd">
					<h4><span><img src="/assets/images/credit.png" alt=" " /></span></h4>
					<p>ENTER RECHARGE DETAILS</p>
				</div>
				<div class="col-md-3 coupons-gd">
					<h4><span><img src="/assets/images/security.png" alt=" " /></span></h4>
					<p>MAKE PAYMENT</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="content-bottom-two">
		<div class="col-md-6 content-left text-center">
			<img src="/assets/images/bbb5.png" alt="" />
		</div>
		<div class="col-md-6 content-right text-center">
			<img src="/assets/images/bbb3.png" alt="" />
		</div>
		<div class="clearfix"></div>
		<div class="btm-pos">
			<h3>Exclusive Offers</h3>
			<p> Nam libero tempore, cum soluta
				nobis est eligendi optio cumque
				nihil impedit quo minus id quod
				maxime placeat facere possimus,
				omnis voluptas assumenda est. </p>
		</div>
	</div>
	<!-- Support content -->
	<div class="w3l-support">
		<div class="container">
			<div class="col-md-5 w3_agile_support_left">
				<img src="/assets/images/cus.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-7 w3_agile_support_right">
				<h5>Online Recharge</h5>
				<h3>24/7 Customer Service Support</h3>
				<p>Pellentesque accumsan cursus dui, sodales blandit urna sodales vitae.
					Maecenas placerat eget mi vitae euismod. Duis aliquam efficitur mi,
					et eleifend velit.</p>
				<div class="agile_more">
					<a href="support.html" class="type-4">
						<span> Support </span>
						<span> Support </span>
						<span> Support </span>
						<span> Support </span>
						<span> Support </span>
						<span> Support </span>
					</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //Support content -->
	<!--partners-->
	<div class="w3layouts-partners">
		<h3>We are accepted at</h3>
		<div class="container">
			<ul>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg1.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg2.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg3.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg4.png" alt=""></a></li>
			</ul>
			<ul>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg5.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg6.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg7.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg8.png" alt=""></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/images/lg9.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	<!--//partners-->

	<!-- subscribe -->
	<div class="w3-subscribe agileits-w3layouts">
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Join Us</h4>
				<ul>
					<li><a href="#" class="fa fa-facebook sicon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter sicon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus sicon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble sicon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss sicon rss"> </a></li>
				</ul>
			</div>
			<div class="col-md-6 w3-agile-subscribe-right">
				<h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
				<form action="#" method="post">
					<input type="email" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
					<div class="clearfix"> </div>
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe -->
	<div class="footer-top">
		<div class="container">
			<div class="foo-grids">
				<div class="col-md-3 foo-grid">
					<h3>SiteMap</h3>
					<ul>
						<li><a href="#">Mobile Recharge</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FeedBack</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Your Account</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
				<div class="col-md-3 foo-grid">
					<h3>MOBILE RECHARGES</h3>
					<ul>
						<li><a href="#">Vietel</a></li>
						<li><a href="#">Aircel</a></li>
						<li><a href="#">BSNL</a></li>
						<li><a href="#">Idea</a></li>
						<li><a href="#">MTNL</a></li>
						<li><a href="#">MTS</a></li>
					</ul>
				</div>

				<div class="col-md-3 foo-grid">
					<h3>DATACARD RECHARGES</h3>
					<ul>
						<li><a href="#">Airtel 2G Service</a></li>
						<li><a href="#">Aircel 2G Service</a></li>
						<li><a href="#">BSNL 2G Service</a></li>
						<li><a href="#">MTS MBlaze Recharges</a></li>

					</ul>
				</div>
				<div class="col-md-3 foo-grid">
					<h3>PAYMENT OPTIONS</h3>
					<ul>
						<li>Credit Cards</li>
						<li>Debit Cards</li>
						<li>Any Visa Debit Card (VBV)</li>
						<li>Direct Bank Debits</li>

					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<h2><a href="index.html">Easy Recharge</a></h2>
			<p>© 2016 Easy Recharge. All Rights Reserved | Design by <a href="https://w3layouts.com/"
					target="_blank">w3layouts</a></p>
			<ul>
				<li><a class="face1" href="#"></a></li>
				<li><a class="face2" href="#"></a></li>
				<li><a class="face3" href="#"></a></li>
				<li><a class="face4" href="#"></a></li>
			</ul>
		</div>
	</div>


	<!-- login -->
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-info">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-spa">
					<div class="login-grids">
						<div class="login">
							<div class="login-left">
								<ul>
									<li><a class="fb" href="#"><i></i>Sign in with Facebook</a></li>
									<li><a class="goog" href="#"><i></i>Sign in with Google</a></li>
									<li><a class="linkin" href="#"><i></i>Sign in with Linkedin</a></li>
								</ul>
							</div>
							<div class="login-right">
								<form>
									<h3>Signin with your account </h3>
									<input type="text" value="Enter your mobile number or Email"
										onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Enter your mobile number or Email';}"
										required="">
									<input type="password" value="Password" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Password';}" required="">
									<h4><a href="#">Forgot password</a> / <a href="#">Create new password</a>
									</h4>
									<div class="single-bottom">
										<input type="checkbox" id="brand" value="">
										<label for="brand"><span></span>Remember Me.</label>
									</div>
									<input type="submit" value="SIGNIN">
								</form>
							</div>
							<div class="clearfix"></div>
						</div>
						<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy
								Policy</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //login -->
	<!-- signup -->
	<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content modal-info">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-spa">
					<div class="login-grids">
						<div class="login">
							<div class="login-left">
								<ul>
									<li><a class="fb" href="#"><i></i>Sign in with Facebook</a></li>
									<li><a class="goog" href="#"><i></i>Sign in with Google</a></li>
									<li><a class="linkin" href="#"><i></i>Sign in with Linkedin</a></li>
								</ul>
							</div>
							<div class="login-right">
								<form>
									<h3>Create your account </h3>
									<input type="text" value="Name" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Name';}" required="">
									<input type="text" value="Mobile number" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
									<input type="text" value="Email id" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Email id';}" required="">
									<input type="password" value="Password" onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Password';}" required="">

									<input type="submit" value="CREATE ACCOUNT">
								</form>
							</div>
							<div class="clearfix"></div>
						</div>
						<p>By logging in you agree to our <span>Terms and Conditions</span> and <span>Privacy
								Policy</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //signup -->
	<!-- for bootstrap working -->
	
	<!-- //for bootstrap working -->

</body>

</html>