<!DOCTYPE html>
<html>

<head>
    <title>Easy Recharge a Business Corporate Category Flat Bootstrap Responsive Website Template | Single :: w3layouts
    </title>

    <!-- <link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Easy Recharge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->

    <!-- js -->
    <!--animate-->
    <!-- <link href="css/animate.css" rel="stylesheet" type="text/css" media="all"> -->
  
</head>

<body>
    <div class="bannerr">
        <div class="header">
            <div class="logo">
                <h1><a href="index.html"><i><img src="/assets/images/cell.png" alt=" " /></i>Easy Recharge</a></h1>
            </div>
            <div class="top-nav">
                <span class="menu"><img src="/assets/images/menu.png" alt=" " /></span>
                <ul class="nav1">
                    <li><a href="#" data-toggle="modal" data-target="#myModal" class="active">Mobile</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal1">Service</a></li>
                    <li><a routerLink="feedback">FeedBack</a></li>
                    <li><a routerLink="support">Support</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal3">Site Map</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal4">Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal5">Signup</a></li>
                </ul>


            </div>
        </div>
    </div>

    <div class="banner-bottom">
        <div class="container">
            <div class="row">
                <div class="view_plans">



                    <div class="col-md-6">
                        <div class="recharge-plan-details">
                            <h4 class="section-title"> Recharge Plans Details</h4>
                            <p><label>Name:</label> {{ recharge_plan?.name }}</p>
                            <p><label>Name Operator:</label> {{ recharge_plan?.operatorName }}</p>
                            <p><label>Price:</label> {{ recharge_plan?.price }}</p>
                            <p><label>Talk Time:</label> {{ recharge_plan?.talkTime }}</p>
                            <p><label>Description:</label> {{ recharge_plan?.description }}</p>
                            <p><label>Validity:</label> {{ recharge_plan?.validity }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="user-info-payment">
                            <h4 class="section-title">Enter User Information and Payment</h4>
                            <form>
                                <div class="form-group">
                                    <label for="phonenumber">Phone Number:</label>
                                    <input type="text" id="phonenumber" name="phonenumber" class="form-control" required
                                        [(ngModel)]="Phone">
                                </div>
                                <div>
                                    <label class="dis fw-bold mb-2">Card details:</label>
                                    <div
                                        class="d-flex align-items-center justify-content-between card-atm border rounded">
                                        <div class="fab fa-cc-visa ps-3"></div>
                                        <div class="fab fa-cc-paypal ps-3"></div>
                                        
                                        <select id="paymentMethod" name="paymentMethod" [(ngModel)]="PaymentMethodId">
                                            <ng-container *ngFor="let method of paymentMethods">
                                                <option [value]="method.id">{{ method.name }}</option>
                                            </ng-container>
                                        </select>




                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" (click)="create()">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="footer">
        <div class="container">
            <h2><a href="index.html">Easy Recharge</a></h2>
            <p>© 2016 Easy Recharge. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                    target="_blank">w3layouts</a></p>
            <ul>
                <li><a class="face1" href="#"></a></li>
                <li><a class="face2" href="#"></a></li>
                <li><a class="face3" href="#"></a></li>
                <li><a class="face4" href="#"></a></li>
            </ul>
        </div>
    </div>
</body>